body {
    background-color: #1C1C1C;
    margin: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home {
    font-size: 5.0rem;
    color: #ffffff;
    margin: .30em;
    background-color: #000000;
    text-align: center;
    border: solid 3px #ffffff;
    padding: 0em 1em 0em 1em;
    border-radius: 3px;
    transition: ease-in-out 0.1s;
    transition-property: background, box-shadow, color;
    linear-gradient(transparent, rgba(255, 255, 255, 0.05));
}

.home:hover {
    background: #ffffff;
    box-shadow: 0 0 30px #ffffff;
    color: #000000;
    cursor: default;
}

#search-field {
    width: 90%;
    padding: .75em 1em;
    box-sizing: border-box;
    background-color: #000000;
    border: solid 3px #ffffff;
    font-size: 2.5rem;
    color: #ffffff;
    outline: none;
    border-radius: 3px;
    margin-bottom: .50em;
    text-align: center;
    transition: ease-in-out 0.1s;
    transition-property: box-shadow;
    linear-gradient(transparent, rgba(255, 255, 255, 0.05));
}

#search-field:hover {
    box-shadow: 0 0 30px #ffffff;
    cursor: text;
}

.display-date {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: .25em;
    background-color: #000000;
    text-align: center;
    border: solid 3px #ffffff;
    width: 40%;
    border-radius: 3px;
    transition: ease-in-out 0.1s;
    transition-property: background, box-shadow, color;
    linear-gradient(transparent, rgba(255, 255, 255, 0.05));
}

.display-date:hover {
    background: #ffffff;
    box-shadow: 0 0 30px #ffffff;
    color: #000000;
    cursor: default;
}

.display-time {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: .25em;
    background-color: #000000;
    text-align: center;
    border: solid 3px #ffffff;
    width: 20%;
    border-radius: 3px;
    transition: ease-in-out 0.1s;
    transition-property: background, box-shadow, color;
    linear-gradient(transparent, rgba(255, 255, 255, 0.05));
}

.display-time:hover {
    background: #ffffff;
    box-shadow: 0 0 30px #ffffff;
    color: #000000;
    cursor: default;
}

.weather-container {
    width: 30%;
    background-color: #000000;
    border-radius: 3px;
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
    border: solid 3px #ffffff;
    transition: ease-in-out 0.1s;
    transition-property: background, box-shadow, color;
    linear-gradient(transparent, rgba(255, 255, 255, 0.05));
}

.weather-container:hover {
    background: #ffffff;
    box-shadow: 0 0 30px #ffffff;
    color: #000000;
    cursor: default;
}

.inline {
    display: inline-block;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    margin: 2em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }
    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}

.bookmark-set {
    padding: 1em;
    background-color: #000000;
    border-radius: 3px;
    font-size: .85rem;
    width: 25%;
    height: 14em;
    margin: 0em .5em;
    border: solid 3px #ffffff;
    transition: ease-in-out 0.1s;
    transition-property: box-shadow;
    linear-gradient(transparent, rgba(255, 255, 255, 0.05));
}

.bookmark-set:hover {
    box-shadow: 0 0 30px #ffffff;
    cursor: default;
}

.bookmark-inner-container {
    overflow-y: scroll;
    height: 85%;
    vertical-align: top;
}

.bookmark-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
    margin: 0em 0em 0.5em 0em;
}

.bookmark {
    text-decoration: none;
    color: #8c8c8b;
    display: block;
    margin: .4em 0em;
}

.bookmark:hover {
    color: #fff;
}
