body {
    background-color: #1C1C1C;
    margin: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-title {
    font-size: 4.0rem;
    color: #fff;
    margin-bottom: .50em;
    background-color: #000000;
    text-align: center;
    border: solid 1px #646464;
    padding: 0em 1em 0em 1em;
    border-radius: 3px;
}

.search-title {
    font-size: 4.0rem;
    color: #fff;
    margin-bottom: .50em;
    background-color: #000000;
    text-align: center;
    border: solid 1px #646464;
    padding: 0em 1em 0em 1em;
    border-radius: 3px;
}

.home-tip {
    font-size: 4.0rem;
    color: #fff;
    margin-bottom: .50em;
    background-color: #000000;
    text-align: center;
    border: solid 1px #646464;
    padding: 0em 1em 0em 1em;
    border-radius: 3px;
}

.search-tip {
    font-size: 4.0rem;
    color: #fff;
    margin-bottom: .50em;
    background-color: #000000;
    text-align: center;
    border: solid 1px #646464;
    padding: 0em 1em 0em 1em;
    border-radius: 3px;
}

#clock {
    font-size: 4.0rem;
    color: #fff;
    margin-bottom: .25em;
    background-color: #000000;
    text-align: center;
    border: solid 1px #646464;
    width: 30%;
    border-radius: 3px;
}

#search {
    width: 100%;
    height: 100vh;
    background-color: #1C1C1C;
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: .75em 1em;
    box-sizing: border-box;
    background-color: #000000;
    border: solid 1px #646464;
    font-size: 4rem;
    color: #f2f2f2;
    outline: none;
    border-radius: 3px;
    margin-bottom: .50em;
    text-align: center;
}

.weather-container {
    width: 30%;
    background-color: #000000;
    padding: 1em;
    border-radius: 3px;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    border: solid 1px #646464;
}

.inline {
    display: inline-block;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }
    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}

.bookmark-set{
    padding: 1em;
    background-color: #000000;
    border-radius: 3px;
    font-size: .85rem;
    width: 25%;
    height: 16em;
    margin: 0em .5em;
    border: solid 1px #646464;
}

.bookmark-inner-container {
    overflow-y: scroll;
    height: 88%;
    vertical-align: top;

}

.bookmark-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ededed;
    margin: 0em 0em .35em 0em;
}

.bookmark {
    text-decoration: none;
    color: #8c8c8b;
    display: block;
    margin: .4em 0em;
}

.bookmark:hover {
    color: #fff;
}

#image {
#    background-color: #000000;
#    border: solid 1px #646464;
#    padding: 0em 2em 0em 2em;
#    text-align: center;
#    border-radius: 3px;
}
